.video-header-container{
  padding: 0 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left{
    display: flex;
    align-items: center;
    h3{
      padding-left: 20px;
      margin-bottom: 0px;
    }
  }
}