.right-article-container {
	width: 280px;
	display: flex;
	align-items: center;
	flex-direction: column;
	.author_info {
		height: 114px;
		background: rgba(43, 51, 59, .06);
		border-radius: 12px;
		box-sizing: border-box;
		padding: 16px;
		display: flex;
		img {
			width: 48px;
			height: 48px;
			border-radius: 50%;
		}
		.text-info {
			width: 184px;
			margin-left: 8px;
			.name {
				display: flex;
				justify-content: space-between;
				span:nth-child(1) {
					font-size: 18px;
				}
				span:nth-child(2) {
					cursor: pointer;
					font-size: 14px;
					color: blue;
					padding-right: 6px;
				}
			}
		}
		.job {
			font-size: 12px;
			color: #545c63;
			line-height: 18px;
			text-align: left;
			margin-bottom: 12px;
		}
		.contribution {
			font-size: 12px;
			span {
				margin-right: 10px;
				cursor: pointer;
				&:hover {
					color: black;
					transition: all 0.4s;
				}
			}
		}
	}
	.other_article {
		margin-top: 24px;
		padding-right: 24px;
		width: 100%;
		.head {
			display: flex;
			justify-content: space-between;
		}
		.more {
			cursor: pointer;
		}
		.title {
			font-size: 16px;
			color: #07111b;
			line-height: 24px;
			font-weight: 700;
			margin-bottom: 12px;
		}
		ul li.article-item {
			overflow: hidden;
			text-overflow:ellipsis;
      white-space: nowrap;
			padding: 12px 0;
			border-bottom: 1px solid rgba(43, 51, 59, .1);
			max-width: 254px;
			transition: all .3s;
			font-size: 14px;
			line-height: 22px;
			color: #545c63;
			display: flex;
			&:hover {
				color: brown;
				cursor: pointer;
			}
			i {
				font-size: 14px;
				padding-right: 10px;
			}
		}
	}
	.related-lessons {
		margin-top: 12px;
	}
}
