.course-preview {
width: 216px;

  a {
    height: 100%;
    display: block;
    img {
      width: 216px;
      height: 120px;
      border-radius: 8px;
      transition: box-shadow .3s;
    }

    h3 {
      font-size: 16px;
      color: #07111B;
      line-height: 24px;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 46px;
      transition: color .3s;
      text-align: left;
      padding: 0 8px;
      margin-top: 12px;
      margin-bottom: 0;
    }

    .course-preview-data {
      padding: 0 8px;
      margin-top: 10px;

      span {
        color: #93999F;
        font-size: 12px;
        margin-right: 16px;
      }
    }

    .course-preview-price {
      padding: 0 8px;
      margin-top: 4px;

      span {
        color: #93999F;
        margin-left: 8px;
      }
    }
  }
}