.hot_article-container {
	margin-top: 24px;
	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 16px;

		h3 {
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
			color: #1c1f21;
		}
	}
	.hot-article-list {

	}
}
