#root {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}
.error-msg {
	position: fixed;
	top: 10px;
	z-index: 100;
	left: 50%;
	transform: translateX(-50%);
	height: 70px;
	.errorMsg {
		width: 400px;
	}
}
.margin-right-40 {
	margin-right: 40px;
}
.unreviewed-class {
	border: 1px solid #f01400;
	background: #fde7e5;
  color: #f01400;
  margin-left: 20px;
}
.left-article-container img {
	width: 100%;
}
