.editorContainer {
    ul {
        li {
            list-style: disc;
            list-style-position:inside;
        }
    }
    ol {
        li {
            list-style: decimal;
        }
    }
}
