.backstage-top {
  height: 64px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  display: flex;
  justify-content: space-between;
  
  .menu-btn {
    background: none;
    outline: none;
    border: none;
    width: 68px;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    transition: .3s background;

    &:hover {
      background: #e9f7fe;
    }
  }

  .admin-avatar {
    padding: 0 12px;
    line-height: 64px;
    transition: .3s background;
    color: rgba(0,0,0,.65);
    margin-right: 12px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background: #e9f7fe;
    }

    span {
      padding-left: 8px;
    }
  }
}