.course-class-infos-container {
	.course-class-infos {
		background: #000;
		background: url("https://img.mukewang.com/szimg/5b50881e00011f0620000560.jpg") 0 / cover fixed;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			filter: blur(20px);
		}

		.w {
			padding-top: 20px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			width: 80%;
		}
		.path {
			font-size: 12px;
			line-height: 24px;
			color: rgba(255, 255, 255, 0.5);
			opacity: 1;
			a {
				color: rgba(255, 255, 255, 0.5);
			}
			.path-split {
				margin: 0 6px;
				font-style: normal;
			}
			span {
				color: rgba(255, 255, 255, 0.5);
				&:hover {
					color: white;
				}
			}
		}
		.extra {
			color: white;
			display: flex;
			.page-share {
				a {
					margin-right: 20px;
				}
				i {
					font-size: 26px;
					color: rgb(182, 185, 188);
					&:hover {
						color: white;
					}
				}
			}
		}
		.info-warp {
			padding-top: 10px;
			width: 80%;
			margin: 0 auto;
			.title-box {
				text-align: left;
				h1 {
					margin-top: 0px;
					font-size: 36px;
					color: #ffffff;
					text-shadow: 0 2px 4px rgba(28, 31, 33, 0.6);
				}
			}
			.splitline {
				width: 100%;
				height: 1px;
				background-color: rgba(255, 255, 255, 0.2);
				margin: 16px auto 16px;
			}
			.info-bar {
				line-height: 18px;
				padding-bottom: 20px;
				.statics {
					display: flex;
					white-space: nowrap;
					justify-content: start;
					align-items: center;
					span {
						color: rgb(255, 255, 255);
						padding-right: 10px;
						font-size: 14px;
					}
				}
			}
		}
		.info-author {
			padding-right: 60px;
			line-height: 12px;
			font-size: 12px;
			color: rgb(255, 255, 255);
			padding-bottom: 10px;
			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				margin-right: 20px;
			}
		}
	}
	.tab-course-preview {
		color: #000;
		width: 80%;
		.ant-tabs-ink-bar {
			background-color: red;
		}
		.ant-tabs-tab-active {
			color: red;
		}
		.ant-tabs-tab {
			&:hover {
				color: red;
			}
		}
	}
	.course-content {
		width: 80%;
		margin: 0 auto;
		position: relative;
	}
	.course-aside-info {
		position: absolute;
		margin-bottom: 32px;
		right: 0;
		top: -100px;
		width: 300px;
		min-height: 150px;
		padding: 24px 32px 32px;
		background: #fff;
		box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .1);
		border-radius: 12px;
		z-index: 1;
		.learn-btn {
			display: flex;
			justify-content: center;
			font-size: 18px;
			button {
				color: #fff;
				background-color: red;
				border-radius: 30px;
				width: 90%;
				height: 46px;
				border: none;
				cursor: pointer;
			}
		}
		.course-info-tip {
			padding-top: 24px;
			.first {
				margin-bottom: 24px;
			}
			dt {
				margin-bottom: 6px;
				font-weight: 700;
				font-size: 14px;
				color: #000;
			}
			dd {
				margin-bottom: 6px;
				font-size: 12px;
				word-wrap: break-word;
				word-break: break-all;
				white-space: pre-line;
			}
		}
	}
	.chapter {
		width: 80%;
	}
	.course-description {
		line-height: 28px;
		margin-bottom: 8px;
		padding: 24px 32px 32px;
		background: #fff;
		box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .1);
		border-radius: 12px;
	}
	.course-wrap {
		margin-bottom: 8px;
		padding: 24px 32px 32px;
		background: #fff;
		box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .1);
		border-radius: 12px;
	}
	.video {
		padding-top: 16px;
		li {
			position: relative;
			padding-left: 12px;
			height: 48px;
			line-height: 48px;
			list-style: none;
		}
		.hover:hover {
			background: rgb(254, 243, 243);
			cursor: pointer;
			border-radius: 10px;
		}
	}
	.comment-item {
		padding: 24px 25px;
		border-top: 1px solid #d9dde1;
		display: -ms-flexbox;
		display: flex;
		.avatar {
			width: 72px;
			> img {
				border-radius: 50%;
				width: 40px;
				height: 40px;
			}
			.content {
				flex: 1;
				a {
					color: #93999f;
					margin-bottom: 4px;
				}
				p {
					color: black;
					margin: 0px;
				}
			}
		}
	}
	.evaluation-info {
		margin-bottom: 32px;
		padding: 24px 32px;
		background: #fff;
		border-radius: 12px;
		overflow: hidden;
		display: flex;
		box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
		align-items: center;
		.evaluation-title {
			color: #1c1f21;
			line-height: 16px;
			font-weight: 700;
		}
		.evaluation-score {
			padding-left: 16px;
			font-size: 32px;
			font-weight: 700;
			color: #4d555d;
			line-height: 32px;
			margin-right: 10px;
		}
	}
	.evaluate {
		margin-bottom: 8px;
		padding: 24px 32px;
		background: #fff;
		border-radius: 12px;
		box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
		.your {
			display: flex;
		}
		h2 {
			margin-right: 20px;
		}
		.evaluate-item {
			padding: 10px 0 15px;
			display: flex;
			align-items: center;
			.avatar {
				width: 72px;
				img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}
			}
			.your-evalute {
				flex: 1;
			}
		}
		.send-evaluate-p {
			display: flex;
			flex-direction: row-reverse;
		}
		.send-evaluate {
			width: 100px;
			height: 40px;
			background: red;
			border-radius: 10px;
			color: white;
			font-size: 18px;
			line-height: 40px;
			text-align: center;
			cursor: pointer;
		}
	}
	.evaluation-item {
		margin-bottom: 8px;
		padding: 24px 32px;
		background: #fff;
		border-radius: 12px;
		display: flex;
		box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
		.avatar {
			width: 100px;
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
		}
		.content {
			width: 100%;
			.top {
				display: flex;
				justify-content: space-between;
			}
			.con {
				padding-top: 0;
				line-height: 28px;
				font-size: 14px;
				color: #14191e;
				text-align: left;
				margin-top: 8px;
				word-break: break-all;
			}
			.time {
				display: flex;
				color: #b5b9bc;
				font-size: 12px;
				line-height: 20px;
				flex-direction: row-reverse;
			}
		}
	}
}
