.forum-problem-page-info {
  h1 {
    overflow: hidden;
    font-weight: bolder;
    font-size: 24px;
    color: #07111B;
    line-height: 36px;
    margin: 0;
  }

  .forum-problem-details {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;

    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin-right: 4px;
    }

    span {
      font-size: 14px;
      line-height: 24px;
      color: #93999f;
    }
  }

  .forum-problem-page-desc {
    margin-top: 16px;
    line-height: 36px;
    font-size: 16px;
    color: #1c1f21;
  }

  .forum-problem-details-data {
    a {
      margin-right: 24px;
      line-height: 24px;
      font-size: 12px;
      color: #93999f;
    }

    span {
      margin-right: 24px;
      line-height: 24px;
      font-size: 12px;
      color: #93999f;
    }
  }

  .forum-problem-page-type-operation {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;

    .forum-problem-page-type {
      a {
        border: 1px solid #9CA0A3;
        padding: 5px 8px;
        margin-right: 10px;
        color: #798281;
        transition: none;

        &:hover {
          background: #F3F5F7;
        }
      }
    }
    
    .forum-problem-page-operation {
      display: flex;
      height: 24px;
      line-height: 24px;
      position: relative;
      bottom: 2px;

      .forum-problem-page-share {
        a {
          margin-right: 20px;
        }
      }

      .forum-problem-page-follow {
        font-size: 14px;
        color: #B7BBBF;
        margin-left: 4px;
        border-left: 1px solid #D9DDE1;
        padding-left: 24px;

        span {
          margin-left: 14px;
          position: relative;
          bottom: 2px;
        }
      }
    }
  }
}

.forum-page-report-btn {
  width: 76px;
  height: 36px;
  background: rgba(240,20,20,.8);
  border-radius: 2px;
  font-size: 14px;
  color: #FFF;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}

.forum-page-report-content {
  width: 100%;
  padding: 12px;
  height: 116px;
  background: #FFF;
  border: 1px solid #D9DDE1;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 14px;
  color: #07111B;
  resize: none;
  outline: none;
  margin-top: 20px;
  margin-bottom: 4px;
}

.font-num-alert {
  position: absolute;
  right: 30px;
  bottom: 96px;
  font-size: 12px;
  color: #93999F;
  line-height: 12px;
}