.course-menu {
  padding-top: 12px;

  .course-menu-direction {
    width: 1152px;
    padding: 16px 0 5px;
    height: 66px;
    border-bottom: 1px solid #edf1f2;
    display: flex;
    margin: 0 auto;

    .course-menu-direction-title {
      width: 52px;
      line-height: 30px;
      font-weight: 700;
      font-size: 14px;
      color: #07111b;
    }
  }

  .course-menu-type {
    width: 1152px;
    padding: 16px 0 5px;
    min-height: 66px;
    display: flex;
    margin: 0 auto;

    .course-menu-type-title {
      width: 52px;
      line-height: 30px;
      font-weight: 700;
      font-size: 14px;
      color: #07111b;
    }
  }
}

.online-studying-courses {
  height: 800px;
  background: #f3f5f7;
}