.person-center-yuanwen {
	.ant-tabs-tab {
		&:hover {
			color: red;
		}
	}
	.ant-tabs-tab-active {
		color: red;
	}
	.ant-tabs-ink-bar {
		background: red;
	}
	.article-item {
		border-bottom: 1px solid #edf1f2;
		.content {
			font-size: 14px;
			line-height: 28px;
			color: #4d555d;
			margin-bottom: 10px;
			max-height: 364px;
			overflow: hidden;
			img {
				width: 200px;
				height: auto;
			}
			> div {
				padding-right: 20px;
			}
		}
		.bottom {
			display: flex;
			flex-direction: row-reverse;
		}
		.item-title {
			padding: 30px 0 20px;
			img {
				width: 40px;
        height: 40px;
        margin-right: 10px;
			}
			a {
				font-size: 20px;
				font-weight: 700;
				line-height: 20px;
				color: #14191e;
				&:hover {
					color: #f01400;
					transition: all 0.2;
				}
			}
		}
		.right-info {
			span {
				padding-left: 20px;
			}
		}
	}
}
