.cover-upload-wrapper {
  width: 102px;
  height: 102px;
  border: 1px dashed #d9d9d9;
  background: #fafafa;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #1890ff;
  }
  .cover-upload-label {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    i {
      margin: 0 auto;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  input[type=file] {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }
}