.send-email-contanier{
  .f_row{
    position: relative;
    padding-right:70px;
  }
  .sendEmail{
    color: white;
    position: absolute;
    right: 2px;
    line-height: 52px;
  }
  .noclick{
    pointer-events: none;
  }
}