.left-article-container {
	width: 656px;
	background: #fff;
	box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .05);
	border-radius: 12px;
	box-sizing: border-box;
	padding: 40px 40px 24px;
	position: relative;
	.title {
		.detail-title {
			font-size: 32px;
			color: #1c1f21;
			line-height: 40px;
			margin: 8px 0;
			word-wrap: break-word;
			word-break: break-all;
		}
		.dc-profile {
			font-size: 12px;
			color: #9199a1;
			line-height: 24px;
		}
	}
	.cover-img{
		width: 100%;
		height: auto;
	}
	hr {
		margin: 20px auto;
		border-top: 2px dotted #eee;
	}
	.cat-box {
		margin-top: 24px;
		width: 100%;
		text-align: center;
	}
	.praise-box {
		position: relative;
		width: 100%;
		margin: 48px 0 0;
		text-align: center;
		button.js-praise {
			width: 72px;
			height: 72px;
			border-radius: 50%;
			background: rgba(255, 170, 0, .1);
			border: none;
			position: relative;
			display: block;
			margin: 0 auto;
			-webkit-transition: all .3s;
			-moz-transition: all .3s;
			transition: all .3s;
			cursor: pointer;
			&.like {
				background: #cccccc;
			}
			i {
				font-size: 32px;
				&.like {
					color: rgb(255, 170, 0);
				}
			}
		}
		.num-person {
			margin-top: 4px;
			font-size: 14px;
			color: #545c63;
			line-height: 22px;
			cursor: pointer;
		}
	}
	#comment {
		padding-top: 24px;
		margin-top: 48px;
		box-sizing: border-box;
		border-top: 1px solid rgba(28, 31, 33, .1);
		display: flex;
		.author {
			width: 48px;
			height: 48px;
			margin-right: 16px;
			overflow: hidden;
			img {
				border-radius: 50%;
				width: 48px;
				height: 48px;
				overflow: hidden;
			}
		}
		.fadeInput {
			width: 512px;
			height: 48px;
			padding: 12px 16px;
			box-sizing: border-box;
			background: #f3f5f6;
			border-radius: 6px;
			font-size: 16px;
			color: #9199a1;
			line-height: 24px;
			cursor: pointer;
		}
  }
  #all-comments{
    margin: 32px 0;
  }
	.article_wrap {
		margin-bottom: 80px;
		.line-con {
			width: 100%;
			position: relative;
			margin: 56px 0 28px;
			p.line {
				width: 100%;
				height: 2px;
				background: #d3d6d9;
				display: inline-block;
			}
			p.line-text {
				display: inline-block;
				position: absolute;
				top: 50%;
        left: 50%;
        transform: translate(-50%,-100%);
				padding: 0 24px;
				font-weight: 700;
				font-size: 16px;
				color: #9199a1;
				line-height: 24px;
				background: white;
			}
		}
	}
}
