.forum-create-problem {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  
  .forum-create-problem-left {
    width: 730px;
  }

  .forum-create-problem-right {
    width: 360px;
  }
}