.forum-create-problem {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  
  .forum-create-problem-left {
    width: 840px;
  }

  .forum-create-problem-right {
    width: 282px;
  }
}