.side-bar-question-container {
	.top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
	}
	.delete {
		cursor: pointer;
	}
	.question-input {
		margin-bottom: 20px;
	}
}
.button-p {
	margin-top: 15px;
	text-align: right;
}
.button-p {
	margin-top: 15px;
	text-align: right;
}
