.backstage-course-info {
	margin: 24px;
	padding: 24px;
	border-radius: 3px;
	background: #fff;
	.uploadVideo-container {
		padding: 10px;
		label {
			cursor: pointer;
		}
	}
	#upload-video {
		display: none;
	}
}
