.banner {
  width: 1152px;
  height: 444px;
  box-shadow: 0 12px 24px 0 rgba(7,17,27,.2);
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  display: flex;

  .home-type-menu {
    width: 216px;
    height: 100%;
    background: #2b333b;
    padding-top: 12px;
    padding-left: 12px;

    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      li {
        height: 60px;
        font-size: 16px;

        a {
          display: block;
          height: 100%;
          padding: 0 16px;
          border-radius: 4px 0 0 4px;
          line-height: 60px;
          color: rgba(255,255,255,.6);
          transition: none;
          position: relative;

          &:hover {
            background: rgba(255,255,255,.6);
            color: rgb(255, 255, 255)
          }

          .home-menu-icon {
            position: absolute;
            right: 16px;
          }
        }
      }

      .home-menu-content {
        width: 768px;
        height: 444px;
        background: #fff;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -12px;
        left: 202px;
        z-index: 1000;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);

        .home-menu-tab-wrapper {
          padding: 12px 48px 32px;
          min-height: 194px;

          .home-menu-tab-header {
            height: 24px;
            display: flex;
            font-size: 12px;
            color: #07111B;
            position: relative;

            span {
              margin-right: 10px;
            }

            .home-menu-line {
              flex: 1;
              height: 1px;
              background: rgba(77,85,93,.08);
              position: relative;
              top: 7px;
            }
          }

          .home-menu-tab-content {
            font-size: 15px;
            display: flex;
            flex-wrap: wrap;
            line-height: 24px;
            padding-top: 14px;

            a {
              color: #4D555D;
              margin-right: 24px;

              &:hover {
                color: #f01414;
              }
            }
          }
        }

        .menu-type-course {
          flex: 1;
          background: #F8FAFC;
        }
      }
    }
  }

  .banner-content {
    flex: 1;

    .ant-carousel {
      width: 936px;
    }

    .ant-carousel .slick-slide {
      text-align: center;
      height: 316px;
      line-height: 160px;
      background: #364d79;
      overflow: hidden;
    }
    
    .ant-carousel .slick-slide h3 {
      color: #fff;
    }
  }
}