.person-center-article {
  padding-top: 46px;
  .notattend {
    margin-top: 150px;
    font-size: 18px;
    color: #b5b9bc;
    text-align: center;
    a{
      color: #f01400;
    }
  }
  .my-article{
    display: flex;
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .content{
      flex: 1;
    }
  }
}
