.backstage-course-info-section {
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  color: rgba(0,0,0,.65);
  margin: 24px;

  .backstage-course-info-section-name {
    border-bottom: 1px solid #e8e8e8;
    padding: 16px 24px;
    color: rgba(0,0,0,.85);
    font-size: 16px;
    font-weight: 500;
  }

  .backstage-course-info-section-content {
    padding: 16px 24px;
  }
}