.forum-problem-page-reply {
  margin-top: 36px;

  textarea {
    resize: none;
    padding: 16px;
    border: 1px solid #9CA0A3;
  }

  .forum-problem-reply-btn-wrapper {
    display: flex;
    justify-content: flex-end;

    button {
      margin-top: 20px;
      width: 78px;
      background-color: #f01400;
      border-color: #f01400;
      line-height: 36px;
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      border: none;

      &:hover {
        background: #ff6464;
      }
    }
  }
}