.forum-problem-page-reply {
  margin-top: 36px;

  textarea {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    outline: none;
    resize: none;
    padding: 16px 16px 36px;
    border: 1px solid #9CA0A3;

    &::-webkit-input-placeholder { /* WebKit browsers */
      color:    #999;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #999;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #999;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #999;
    }
  }

  .forum-problem-reply-btn-wrapper {
    display: flex;
    justify-content: flex-end;

    button {
      margin-top: 20px;
      width: 78px;
      background-color: #f01400;
      border-color: #f01400;
      line-height: 36px;
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      border: none;

      &:hover {
        color: #ff6464;
      }
    }
  }
}