.forum-problem-page-comments {
  min-height: 600px;
  padding-bottom: 80px;

  .forum-problem-page-comments-num {
    padding-left: 24px;
    color: #07111b;
    font-size: 16px;
    margin-top: 12px;
    line-height: 64px;
  }

  p.no-reply-alert {
    font-size: 18px;
    color: #b5b9bc;
    padding-top: 60px;
    padding-bottom: 15px;
    text-align: center;
  }
}