.opinion-main-right{
  .carefully_selected{
    cursor: pointer;
    .sevenImg{
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      border-radius: 10px;

    }
    .thirtyImg{
      width: 100%;
      height: 50px;
      border-radius: 10px;
    }
  }
}