.opinion-main-right {
	.button-send-article {
		width: 100%;
		height: 60px;
		background: rgba(240, 20, 20, 0.8);
		color: white;
		border-radius: 10px;
		margin-bottom: 10px;
		text-align: center;
		line-height: 60px;
		font-size: 18px;
		cursor: pointer;
		&:hover {
			background: rgba(247, 0, 42, 0.8);
		}
	}
	.carefully_selected {
		cursor: pointer;
		.sevenImg,
		.thirtyImg {
			height: 50px;
			margin-bottom: 20px;
			border-radius: 10px;
			img {
				width: 100%;
			}
		}
	}
}
